@model IEnumerable<DeBank.Library.Models.BankAccount>

@{
    ViewData["Title"] = "SubAccountsOverview";
}

<h1>SubAccountsOverview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.ActionLink("Edit data", "ChangeBankAccountData", "RegularUserAddingAndChangeBankAccounts", new { id = item.Id }) |
                @Html.ActionLink("Details account", "AccountDetails", "RegularUserAddingAndChangeBankAccounts", new { id = item.Id }) |
                @Html.ActionLink("Delete account", "RemoveBankAccount", "RegularUserAddingAndChangeBankAccounts", new { id = item.Id })
                @Html.ActionLink("See previous transactions", "TransactionsAndSaldoOverview", "RegularUserOverview", new { id = item.Id })
                @Html.ActionLink("Transfer money", "TransferMoney", "RegularUserMoneyMutation", new { id = item.Id })
                @Html.ActionLink("Pay", "Pay", "RegularUserMoneyMutation", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
